@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}

<div class="cards-container">
    <div class="columns">
        <div class="column is-offset-one-quarter is-half">
            <my-app>Loading...</my-app>

        </div>
    </div>
</div>