<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <section class="hero is-alt is-fullheight is-dark">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-4 is-offset-4">
                        <h1 class="title">
                            INDEX
                        </h1>
                        <h2 class="subtitle">
                            INDEX
                        </h2>
                        <div class="box login">
                            <p class="control has-icon">
                                <input class="input" type="email" placeholder="Email">
                                <i class="fa fa-envelope"></i>
                            </p>
                            <p class="control has-icon">
                                <input class="input" type="password" placeholder="Password">
                                <i class="fa fa-lock"></i>
                            </p>
                            
                            <p class="control">
                                <button class="button is-warning is-medium">
                                    <i class="fa fa-user"></i>
                                    &nbspLogin
                                </button>
                                <button class="button is-link is-medium">
                                    Register
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>