@model WebApp.ViewModels.LoginViewModel
@{
    Layout = "AuthLayout";
    ViewBag.Title = "Login";
}


<h1 class="title">
    Welocome to WebApp
</h1>
<h2 class="subtitle">
    Please login or register if you are a new user
</h2>
<div class="box login">
    <form method="post" novalidate>
        <p class="control has-icon">
            <input asp-for="Username" class="input" type="text" placeholder="Username">
            <i class="fa fa-user"></i>
        </p>
        <p class="control has-icon">
            <input class="input" type="password" asp-for="Password" placeholder="Password">
            <i class="fa fa-lock"></i>
        </p>

        <p class="control">
            <input type="submit" class="button is-warning is-medium" value="Login"/>
            
            <a class="button is-link is-medium" asp-action="Register" asp-controller="Auth">Register</a>
        </p>
        </form>
</div>
                    