@{
    Layout = "AuthLayout";
}


<h1 class="title">
    Welocome to WebApp
</h1>
<h2 class="subtitle">
    Please login or register if you are a new user
</h2>
<div class="box login">
    <p class="control has-icon">
        <input class="input" type="text" placeholder="Username">
        <i class="fa fa-user"></i>
    </p>
    <p class="control has-icon">
        <input class="input" type="password" placeholder="Password">
        <i class="fa fa-lock"></i>
    </p>

    <p class="control">
        <button class="button is-warning is-medium">
            <i class="fa fa-user"></i>
            &nbspLogin
        </button>
        <button class="button is-link is-medium">
            Register
        </button>
    </p>
</div>
                    