<div class="card">
    <form [formGroup]="myPoll" novalidate (ngSubmit)="save(myPoll)">
        <div class="card-content">
            <div class="form-group field">
                <label class="label">Question</label>
                <p class="control"><input type="text" class="form-control input" formControlName="question"></p>
                <small *ngIf="!myPoll.controls.question.valid" class="text-danger">
                    Question is required (minimum 5 characters).
                </small>
            </div>
        </div>

        
        <!--options-->
        <div class="card-content">
            <div formArrayName="options">
                <div *ngFor="let opt of myPoll.controls.options.controls; let i=index" class="panel panel-default">
                    <div>
                        <span class="label">Option {{i + 1}} <span class="fa fa-remove" style="cursor: pointer" *ngIf="myPoll.controls.options.controls.length > 1" (click)="removeOption(i)"></span> </span>
                        
                    </div>
                    <div [formGroupName]="i">
                        <new-option [group]="myPoll.controls.options.controls[i]"></new-option>
                    </div>
                </div>
            </div>
            <a class="button is-primary is-small" (click)="addOption()" style="cursor: pointer; margin-top: 8px">
                Add another option +
            </a>
        </div>
        <div class="card-content">
            <div>
                <button type="submit" class="button is-success is-medium" [disabled]="!myPoll.valid"  (click)='postPoll(myPoll.value, $event)'>Post</button>
            </div>
        </div>
</form>
</div>