<div class="card" *ngFor='let poll of polls'>
    
    <header class="card-header" > <!--TODO REmove ngif-->
        <p class="card-header-title">
            {{poll.userName}}
        </p>
        <a class="card-header-icon">
            <span class="icon">
                <i class="fa fa-angle-down"></i>
            </span>
        </a>
    </header>
    <div class="card-content" >
        <div class="content">
            {{poll.question}}
            <br>
            <small>{{poll.dateCreated | date:'dd.MM.yyyy @ HH:mm'}}</small>
        </div>
    </div>
    <footer class="card-footer" *ngFor='let option of poll.options'>
        <a class="card-footer-item" (click)='voteOption(poll.id, option.order, $event)'>{{option.text}}: &nbsp; <h6  [innerHTML]="option.votes"></h6></a>
        
    </footer>
</div>