<div class="card" *ngFor='let poll of polls'>
    
    <header class="card-header" > <!--TODO REmove ngif-->
        <p class="card-header-title">
            {{poll.userName}}
        </p>
        <a class="card-header-icon">
            <span class="icon">
                <i class="fa fa-angle-down"></i>
            </span>
        </a>
    </header>
    <div class="card-content" >
        <div class="content">
            {{poll.question}} <a>#css</a> <a>#responsive</a>
            <br>
            <small>{{poll.dateCreated}}</small>
        </div>
    </div>
    <footer class="card-footer" *ngFor='let option of poll.options'>
        <a class="card-footer-item">{{option.text}} : {{option.votes}}</a>
    </footer>
</div>